@use "../../_globalColor" as colors;

.footer-text {
  text-align: center;
  color: colors.$subTitle !important;
}

.dark-mode {
  color: colors.$textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
