@use "./globalColor" as colors;

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: colors.$appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: colors.$textColorDark;
}

.App-link {
  color: colors.$appLink;
}

.subTitle {
  color: colors.$subTitle;
}
